.analyticsAmg {
    height: calc(100vh - 57px);

    iframe {
        width: 100%;
        height: calc(100vh - 57px);
    }
}

.kDevMsg {
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 700;
}
